@font-face {
    font-family: 'Exo2Italic', "Exo 2";
    src: url('https://joaoanes.website/Exo2-ExtraLightItalic.ttf');
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.embed {
    width: 60%;
    height: 80%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer div {
    font-size: 13px;
}

.dl {
    font-size: 30px;
}

body {
    margin: 0;
}

div {
    font-family: "Exo2Italic", "Exo 2";
    font-style: italic;
    font-weight: 300;
}

.pdf {
    width: 90vw;
    height: 80vh;
}

@media (max-width: 540px) {
    .ty {
        font-size: 20px;
        text-align: center;
    }
}
