/* NOT to be confused with another css thing */

.align-center {
	align-items: center;
}

.left, .right {
	flex-grow: 1;
	flex-shrink: 0;
	width: 50%;
	max-width: 50%;
	display: flex;
}



.bottom, .top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.limit-width {
	width: 80%;
	max-width: 500px;
}

.grow-h-container { /* I have abandoned all hope at this point with names like these */
	display: flex;
	flex: 1;
	flex-direction: row;
}


.column {
	flex-direction: column;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.align-self-start {
	align-self: flex-start;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.horizontal {
	flex-direction: column;
}

.container {
	display: flex;
	flex-grow: 1;
}

.grow {
	flex-grow: 1;
}
